<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".app.CalculatorVaultApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorVault">
        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.disguise.shortcut.DisguiseShortcutEntryActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.aurora.calculatorvault.disguise_entry"
            android:theme="@style/Theme.CalculatorVault.ShortcutEntry" />
        <receiver
            android:name=".feature.disguise.shortcut.ShortcutPinnedReceiver"
            android:exported="false" />
    </application>
</manifest>
